<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" href={% static 'css/bootstrap.min.css' %}>
	<script src={% static 'js/bootstrap.min.js' %}></script>

	<title></title>
</head>
<body>
	{#	Navbar#}
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="#">Navbar</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		{#		Navbar's sections#}
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">

				<li class="nav-item active">
					<a class="nav-link" href={% url 'index' %}>Index <span class="sr-only">(current)</span></a>
				</li>

				<li class="nav-item active">
					<a class="nav-link" href={% url 'admin:index' %}>Admin <span class="sr-only">(current)</span></a>
				</li>

				<li class="nav-item active">
					<a class="nav-link" href={% url 'web_app:register' %}>Register <span
							class="sr-only">(current)</span></a>
				</li>
			</ul>
		</div>

		{#Set navbar's items to the right#}
		<div class="navbar-collapse collapse ">
			<ul class="navbar-nav ml-auto">
				{% if user.is_authenticated %}
					<li class="nav-item active">
						<a class="btn btn-danger btn-lg" href={% url 'logout' %} role="button">Log out</a>
					</li>

				{% else %}
					<li class="nav-item active">
						<a class="btn btn-primary btn-lg" href={% url 'web_app:user_login' %} role="button">Log in</a>
					</li>
				{% endif %}
			</ul>
		</div>
	</nav>

	<div class="container">
		{% block body_block %}
			{#			HTML will go in here#}
		{% endblock %}
	</div>

</body>
</html>